*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 14, 14);
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
     position:relative;
}
.player video{
    width: 95%;
    margin-top: 20px;
}
